/*#search-button {
    border-radius: 50%;
}

.form-control {
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 2s;
}

input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#searchbar input[type=search]:hover {
	background-color: #fff;
}
#searchbar input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#searchbar input:-moz-placeholder {
	color: transparent;
}
#searchbar input::-webkit-input-placeholder {
	color: transparent;
}*/
body {
    background-color: #263238;
}

#searchbar {
    color: white;
    border: 1px solid white;
    border-radius: 25em;
    transition: all 1s .25s;
    display: block;
    margin: 2em auto;
}
#searchbar i {
    padding: 1em;
}
#searchbar input {
    width: 95%;
    border: none;
    background-color: transparent;
}
#searchbar:hover {
    border-color: green;
    color: green;
    background-color: white;
}
.collapsed {
    min-width: auto;
}