.wiki-search {
  background-color: #263238;
  color: #dff5ff; }
  .wiki-search #title {
    text-align: center;
    margin-bottom: 25px; }
  .wiki-search #searchbar {
    border: 1px solid #dff5ff;
    border-radius: 25em;
    -webkit-transition: all 1s .25s;
    -o-transition: all 1s .25s;
    transition: all 1s .25s;
    display: block;
    margin: 25px auto;
    width: 60%; }
    .wiki-search #searchbar input {
      font-size: 1.5em;
      display: block;
      margin: auto;
      text-align: center;
      width: 95%;
      border: none;
      background-color: transparent;
      outline: none; }
  .wiki-search #searchbar:hover {
    border-color: green;
    color: green;
    background-color: #dff5ff;
    width: 90vw; }
  .wiki-search .collapsed {
    min-width: auto; }
  .wiki-search button {
    -webkit-transition: all 1s .50s;
    -o-transition: all 1s .50s;
    transition: all 1s .50s;
    background-color: #4f5b62;
    border-radius: 1em;
    color: #dff5ff;
    display: block;
    margin: auto; }
  .wiki-search button:hover {
    color: #4f5b62;
    background-color: #dff5ff; }
  .wiki-search #search-results {
    margin-top: 25px; }
    .wiki-search #search-results .result {
      -webkit-transition: all 1s .25s;
      -o-transition: all 1s .25s;
      transition: all 1s .25s;
      border: 1px solid #000a12;
      border-radius: 1em;
      background-color: #4f5b62;
      margin: 5px 25px;
      padding: 1em; }
      .wiki-search #search-results .result h2 {
        -webkit-transition: all 1s .25s;
        -o-transition: all 1s .25s;
        transition: all 1s .25s;
        color: #dff5ff; }
    .wiki-search #search-results .result:hover {
      border-color: green;
      color: green;
      background-color: #dff5ff; }
      .wiki-search #search-results .result:hover h2 {
        color: green; }
